<!-- About Me content -->
<div class="generalContainer productContainer">
    <div class="productImg">
        <img src="./Assets/images/profile.jpg" alt="picture of me">
    </div>
    <div class="productDescription">
    <h2><b> HEESOO LIM</b></h2>
    <h4>Software Engineering Technology</h4>
    <p>As a student of Centennial college, I gained knowledge of different programming languages as I have completed several academic projects. I am always ready for a new challenge.</p>
    <a class="button" href="Assets/Heesoo_Lim_Resume.pdf">My Resume</a>
    </div>
</div>