<!-- Contact content -->
<div id="myContact">
  <div class="contactColumn">
    <p>First Name  : HEESOO</p>
    <p>Last Name : LIM</p>
  </div>
  <div class="contactColumn">
    <p>Email : hlim29@my.centennialcollege.ca</p>
    <p>Phone : 647-523-1383</p>
  </div>
</div>

<form class="needs-validation" novalidate>

<div class="form-row">
    <div class="col-md-6 mb-3">
    <label for="validationCustom01">First name</label>
    <input type="text" class="form-control" id="firstName" required placeholder="Your first name">
    <div class="valid-feedback">
        Looks good!
    </div>
    </div>
    <div class="col-md-6 mb-3">
    <label for="validationCustom02">Last name</label>
    <input type="text" class="form-control" id="lastName" required placeholder="Your last name">
    <div class="valid-feedback">
        Looks good!
    </div>
    </div>
</div>

<div class="form-row">
    <div class="col-md-12 mb-3">
    <label for="validationCustom03">Email</label>
    <input type="email" class="form-control" id="email" placeholder="Enter your email" required>
    <div class="invalid-feedback">
        Please provide a valid email.
    </div>
    </div>
</div>

<div class="mb-3">
  <label for="validationTextarea">Your Message</label>
  <textarea class="form-control" id="message" placeholder="Enter your message"></textarea>
</div>

<button type="submit" class="btn btn-outline-info">Send</button>
<button type="reset" class="btn btn-outline-warning">Undo</button>

</form>
