<!-- Home content -->
<div class="generalContainer homeContainer container">
    <h1 id="welcomeText">Welcome, </h1>
    <h6>My name is Heesoo.</h6>
    <h6><i> To do the best work I can to help the most people possible.</i></h6>
    <a class="button" href=/about>About Me</a>
</div>