<!-- Products content -->

<div class="generalContainer productContainer project">
    <div class="productImg">
        <img src="./Assets/images/product1.jpg" alt="picture of sequence diagram">
    </div>
    <div class="productDescription">
    <h2><b> Medical Record System: Medicord</b></h2>
    <h4>Object-oriented software engineering</h4>
    <p>I am currently working on creating a software requirment specification of medical record system as a group.
    <br>
    I have gained knowledge of UML and basic things about software requirements.
    </p>
    </div>
</div>

<div class="generalContainer productContainer project">
    
    <div class="productDescription">
    <h2><b>E-Commerce database model</b></h2>
    <h4>Oracle SQL</h4>
    <p>I had designed an Entity Relationship diagram for e-commerce shopping cart.
    <br>I am able to design an effective database and manipulate it properly.
    </p>
    </div>
    <div class="productImg">
        <img src="./Assets/images/product2.jpg" alt="picture of an ERD">
    </div>
</div>

<div class="generalContainer productContainer project">
    <div class="productImg">
        <img src="./Assets/images/product3.jpg" alt="picture of a website">
    </div>
    <div class="productDescription">
    <h2><b>Bookstore e-commerce website</b></h2>
    <h4>Java Web development</h4>
    <p>The goal of this project is to build a bookstore e-commerce website, so I am now studying JSP and servlet to understand Java Web development better.</p>
    </div>
</div>