<!-- Services content -->

<div class="serviceIndividual one">
<img src="Assets/images/service1.jpg" alt="picture of a laptop">
<div class="overlay">
    <h6>programming</h6><br>
    <p>C# &nbsp;&nbsp;⚫⚫⚫
    <br>Java ⚫⚪⚪
    <br>Linux⚫⚪⚪
    <br>SQL &nbsp;⚫⚫⚪
    </p>
</div>
</div>

<div class="serviceIndividual two">
<img src="Assets/images/service2.JPG" alt="picture of a web UI">
<div class="overlay">
    <h6>Front-end</h6><br>
    <p>HTML/CSS/JS<br>UI Design</p>
</div>
</div>

<div class="serviceIndividual three">
<img src="Assets/images/service3.jpg" alt="picture of connected strings">
<div class="overlay">
    <h6>Back-end</h6><br>
    <p>MongoDB/ExpressJS<br>NodeJS</p>
</div>
</div>

<div class="serviceIndividual four">
<img src="Assets/images/service4.jpg" alt="picture of gears">
<div class="overlay">
    <h6>Teamwork</h6><br>
    <p>Communication<br>Collaboration</p>
</div>
</div>