/*
  Author: Heesoo Lim
  studentID: 301061152
  Date: October 21, 2020
  File Name: app.css
*/


/* custom css goes here */

body {
  margin-top: 54px;
  background-image: linear-gradient(rgba(196, 196, 196, 0.863), rgba(196, 196, 196, 0.863)), url(/Assets/images/background3.jpg);
  background-size: cover;
  background-attachment: fixed;
}

a:hover {
  text-decoration: none;
  color: blanchedalmond;
}

.btn-long {
  width: 100%;
  margin: 5px 0;
}

/* footer for every page */
footer {
  background-color: #304B64;
  /* font-size: 14px; */
  /* color: rgb(182, 182, 182); */
}

footer a {
  font-size: 14px;
  color: rgb(182, 182, 182);
}

/* anchors under contact in footer */
.footerContact a {
  line-height: 37px;
}

/* footer navigation bar custom style */
.navbar-custom {
  background-color: #304B64;
}

/* form's background and margin */
.loginForm {
  background-color: rgba(255, 255, 255, 0.747);
  margin-bottom: 180px;
}

.loginForm h1, #businessContactHeading {
  font-size: 3em;
  font-family: arial;
}

#businessContactHeading {
  margin-top: 70px;
}

h1 {
  font-size: 5em;
  font-family: serif;
}

/* home page's text */
.container .rounded-bottom h6, .container .rounded-bottom h5 {
  margin-top: 20px;
  font-family: serif;
}

/* home page container */
.container .rounded-bottom {
  background-color: rgba(255, 255, 255, 0.733);
  margin-bottom: 150px;
}

/* custom size button */
.btn-xl {
  padding: 20px 40px;
  font-size: 20px;
  border-radius: 5px;
}

/* navbar text margin (display name when logged in) */
.navbar-text {
  margin: 0px 10px;
}

.table-color {
  background-color: rgba(255, 255, 255, 0.863);
}

.table-header-color {
  background-color: rgba(228, 228, 228, 0.829);
}

#businessTable {
  margin: 40px 0px;
}

img {
  width: 100%;
  height: auto;
}

.template {
  background-color: rgba(255, 255, 255, 0.795);
  margin: 150px 0px;
  padding: 50px 0px;
}

/* description for each product */
.projectDescription {
  padding: 7% 0;
}

/* contact page form bkground */
.row .col-8 {
  background-color: rgba(255, 255, 255, 0.74);
}

/* container of pictures in services */
#serviceContainter .col-2 {
  background-color:  rgb(190, 190, 190);
  padding: 5px;
  margin: 10px;
}

/* overlay element on services pictures */
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(190, 190, 190);
  opacity: 0;
  padding: 20px;
  text-align: center;
}

#serviceContainter .col-2:hover .overlay {
  opacity: 0.85;
  transition: 0.5s;
}

/* title of pictures that are under services */
#service .title {
  font-family: Arial;
  font-size: 14px;
}

#contactHeading {
  /* padding: 70px 0px 50px 0px; */
  margin-bottom: 30px;
  font-size: 30px;
}