<!-- Contact content -->

<!-- My contact information -->
<div class="row justify-content-md-center pt-5">
  <div class="col-2 p-4">
    <div class="contact-image rounded-circle bg-dark p-1">
      <img src="/Assets/images/contactImage.jpg" alt="my picture" class="rounded-circle">
    </div>
  </div>
  <div class="col-3 ml-5 mt-5">
    <h2 class="mb-4">Heesoo Lim</h2>
    <p>Email : hlim29@my.centennialcollege.ca</p>
    <p>Phone : 647-523-1383</p>
  </div>
</div>

<!-- Contact me form -->
<div class="template mt-0 pt-3 bg-transparent text-center">
    <div class="container">
      <div class="row justify-content-md-center">
          <div class="col-8 p-5 mt-4 rounded">
            <h1 id="contactHeading"><b>Contact me</b></h1>
            <form class="needs-validation" novalidate>

              <div class="form-row">
                  <div class="col-md-6 mb-3">
                  <label for="validationCustom01">First name</label>
                  <input type="text" class="form-control" id="firstName" required placeholder="Your first name">
                  <div class="valid-feedback">
                      Looks good!
                  </div>
                  </div>
                  <div class="col-md-6 mb-3">
                  <label for="validationCustom02">Last name</label>
                  <input type="text" class="form-control" id="lastName" required placeholder="Your last name">
                  <div class="valid-feedback">
                      Looks good!
                  </div>
                  </div>
              </div>
              
              <div class="form-row">
                  <div class="col-md-12 mb-3">
                  <label for="validationCustom03">Email</label>
                  <input type="email" class="form-control" id="email" placeholder="Enter your email" required>
                  <div class="invalid-feedback">
                      Please provide a valid email.
                  </div>
                  </div>
              </div>
              
              <div class="mb-3">
                <label for="validationTextarea">Your Message</label>
                <textarea class="form-control" id="message" placeholder="Enter your message"></textarea>
              </div>
              
              <button type="submit" class="btn btn-info">Send</button>
              <button type="reset" class="btn btn-warning ml-3">Undo</button>
              
              </form>
          </div>
      </div>
    </div>
</div>